# sym file
#symfile = NULL
symfile = /mnt/lg/res/lgres/RELEASE.sym

# input  - fifo that is used for stdin redirection.
#          Default: /tmp/openrelease.in
# input needs to be redirected to be able to change keys mapping
input = /tmp/openrelease.in
#input = NULL

# output - file that is used for stdout redirection.
#          Default: disabled
output = /tmp/openrelease.out
#output = NULL

# keymap - relative path (to base directory of openrelease.cfg) to key map file.
#          Default: openrelease_keymap.cfg
keymap = openrelease_keymap.cfg

# enable_divx_preview - disables divx preview if set to 0.
#                       Default: 1
# enable_divx_preview not used on BCM
enable_divx_preview = 1

# enable_auto_mount - disables auto mount of usb flash drivers if set to 0. 
#                     Default 1.
# If auto mount is disabled you should mount all needed media into /mnt/usb1/Drive1 directory.
# It's the only directory that will be explored in the integrated player in this case.
enable_auto_mount = 1

#debug_ipaddr = 192.168.100.99
#debug_port = 99
