body{
	font-family:"TiresiasScreenfont";
	background-color:black;
	overflow:hidden;
	overflow-y:hidden;
	overflow-x:hidden;
}

.container{
	width:1280px;
	height:720px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
}

.footer, .footer2{
	background:rgb(42,42,42);
	position:absolute;
	bottom:0;
	left:0;
	height:50px;
	overflow:hidden;
	width:100%;
}
.footer2{
	bottom:50px;
	width:66%;
}
.footer li span, .footer2 li span{
	width:46px;
	height:30px;
	margin:8px;
	float:left;
}
.footer li, .footer2 li{
	width:208px;
	height:45px;
	line-height:47px;
	font-size:24px;
	letter-spacing:1px;
	color:white;
	border:rgb(34,34,34) 1px solid;
	cursor:pointer;
	overflow:hidden;
	float:left;
}
.footer li:hover, .footer2 li:hover{
	background:#2B3856;
}
.footer ul, .footer2 ul{
	margin:0;
	padding:0;
}
	input.menubutton {
	height:25px;
}
.mountsrc{
	width:300px;
	max-width:300px;
	overflow:hidden;
	white-space:nowrap;
}
.mountdst{
	width:190px;
	max-width:190px;
	overflow:hidden;
	white-space:nowrap;
}
.mountfstype{
	width:50px;
	max-width:50px;
	overflow:hidden;
	text-align:center;
}
.mountuname{
	width:100px;
	max-width:100px;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
}
.mountauto{
	width:80px;
	max-width:80px;
	overflow:hidden;
	text-align:center;
}
.mountedit{
	width:80px;
	max-width:80px;
	overflow:hidden;
	text-align:center;
}
