#!/bin/sh
# OpenLGTV BCM script rc.mount
# MTD Partitions Mounting Script for LG Broadcom platform based TVs by xeros
# Source code released under GPL License

#mount -t proc proc /proc
#mount -t ramfs tmp /tmp
echo "OpenLGTV_BCM-INFO: system mounts..."                               | tee -a /tmp/OpenLGTV_BCM.log
mount -t sysfs sysfs /sys                                           2>&1 | tee -a /tmp/OpenLGTV_BCM.log
mount -t usbfs usbfs /proc/bus/usb                                  2>&1 | tee -a /tmp/OpenLGTV_BCM.log
mount -t devpts devpts /dev/pts                                     2>&1 | tee -a /tmp/OpenLGTV_BCM.log
mount -t tmpfs none /usr/etc                                        2>&1 | tee -a /tmp/OpenLGTV_BCM.log
mount -t tmpfs bt /mnt/lg/bt -o size=10M                            2>&1 | tee -a /tmp/OpenLGTV_BCM.log

if [ "`cat /proc/mtd | wc -l`" = "39" -a "`grep mtd19 /proc/mtd | grep '\"ywedata\"' | wc -l`" = "1" ]
then
    echo "OpenLGTV_BCM-INFO: setting country_model to US..."             | tee -a /tmp/OpenLGTV_BCM.log
    export country_model=US
else
    echo "OpenLGTV_BCM-INFO: setting country_model to EU..."             | tee -a /tmp/OpenLGTV_BCM.log
    export country_model=EU
fi

echo "OpenLGTV_BCM-INFO: mtdblock partitions mounts..."                  | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock5 in /mnt/lg/model"                     | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock5 /mnt/lg/model                      2>&1 | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock10 in /mnt/lg/res/lgres"                | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock10 /mnt/lg/res/lgres                 2>&1 | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock12 in /mnt/lg/res/ezcal"                | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock12 /mnt/lg/res/ezcal                 2>&1 | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock13 in /mnt/lg/res/estreamer"            | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock13 /mnt/lg/res/estreamer             2>&1 | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock14 in /usr/local"                       | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock14 /usr/local                        2>&1 | tee -a /tmp/OpenLGTV_BCM.log
mount -t tmpfs tmpfs /usr/local/etc -o size=1M                      2>&1 | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock15 in /mnt/addon"                       | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock15 /mnt/addon                        2>&1 | tee -a /tmp/OpenLGTV_BCM.log

if [ "$country_model" = "EU" ]
then
    echo "OpenLGTV_BCM-INFO: mtdblock23 in /mnt/lg/ciplus/cert"          | tee -a /tmp/OpenLGTV_BCM.log
    mount -t squashfs /dev/mtdblock23 /mnt/lg/ciplus/cert           2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    echo "OpenLGTV_BCM-INFO: mtdblock24 in /mnt/lg/ciplus/authcxt"       | tee -a /tmp/OpenLGTV_BCM.log
    mount -t yaffs2 /dev/mtdblock24 /mnt/lg/ciplus/authcxt          2>&1 | tee -a /tmp/OpenLGTV_BCM.log
fi

echo "OpenLGTV_BCM-INFO: mtdblock7 in /mnt/lg/cmn_data"                  | tee -a /tmp/OpenLGTV_BCM.log
mount -t yaffs2 /dev/mtdblock7 /mnt/lg/cmn_data -o noatime                     >> /tmp/OpenLGTV_BCM.log 2>&1
if [ "$?" -ne "0" ]
then
    echo "OpenLGTV_BCM-WARNING: problem mounting /dev/mtd7 - trying to erase it and mount again..." | tee -a /tmp/OpenLGTV_BCM.log
    if [ -n "`cat /proc/mtd | grep ^mtd7: | grep data`" ]
    then
	flash_eraseall /dev/mtd7                                    2>&1 | tee -a /tmp/OpenLGTV_BCM.log
	mount -t yaffs2 /dev/mtdblock7 /mnt/lg/cmn_data -o noatime  2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    else
	echo "OpenLGTV_BCM-ERROR: /dev/mtd7 is not 'data' partition - NOT erasing it..." | tee -a /tmp/OpenLGTV_BCM.log
    fi
fi
echo "OpenLGTV_BCM-INFO: /mnt/lg/cmn_data /mnt/flash/data"               | tee -a /tmp/OpenLGTV_BCM.log
mount --bind /mnt/lg/cmn_data /mnt/flash/data                       2>&1 | tee -a /tmp/OpenLGTV_BCM.log

if [ "$country_model" = "EU" ]
then
    echo "OpenLGTV_BCM-INFO: mtdblock25 in /mnt/user"                    | tee -a /tmp/OpenLGTV_BCM.log
    mount -t jffs2 /dev/mtdblock25 /mnt/user                        2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    echo "OpenLGTV_BCM-INFO: mtdblock22 in /mnt/idfile (ignore error)"   | tee -a /tmp/OpenLGTV_BCM.log
    mount -t squashfs /dev/mtdblock22 /mnt/idfile                   2>&1 | tee -a /tmp/OpenLGTV_BCM.log  # empty on EU fw, but lginit still tries to mount it
else
    echo "OpenLGTV_BCM-INFO: mtdblock18 in /mnt/user"                    | tee -a /tmp/OpenLGTV_BCM.log
    mount -t jffs2 /dev/mtdblock18 /mnt/user                        2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    echo "OpenLGTV_BCM-INFO: mtdblock20 in /mnt/idfile"                  | tee -a /tmp/OpenLGTV_BCM.log
    mount -t squashfs /dev/mtdblock20 /mnt/idfile                   2>&1 | tee -a /tmp/OpenLGTV_BCM.log
fi
echo "OpenLGTV_BCM-INFO: mtdblock16 in /mnt/game"                        | tee -a /tmp/OpenLGTV_BCM.log
mount -t squashfs /dev/mtdblock16 /mnt/game                         2>&1 | tee -a /tmp/OpenLGTV_BCM.log
echo "OpenLGTV_BCM-INFO: mtdblock17 in /mnt/cache/flash"                 | tee -a /tmp/OpenLGTV_BCM.log
mount -t yaffs2 /dev/mtdblock17 /mnt/cache/flash -o noatime                    >> /tmp/OpenLGTV_BCM.log 2>&1
if [ "$?" -ne "0" ]
then
    echo "OpenLGTV_BCM-WARNING: problem mounting /dev/mtd17 - trying to erase it and mount again..." | tee -a /tmp/OpenLGTV_BCM.log
    if [ -n "`cat /proc/mtd | grep ^mtd17: | grep fladata`" ]
    then
	flash_eraseall /dev/mtd17                                   2>&1 | tee -a /tmp/OpenLGTV_BCM.log
	mount -t yaffs2 /dev/mtdblock17 /mnt/cache/flash -o noatime 2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    else
	echo "OpenLGTV_BCM-ERROR: /dev/mtd17 is not 'fladata' partition - NOT erasing it..." | tee -a /tmp/OpenLGTV_BCM.log
    fi
fi

if [ "$country_model" = "EU" ]
then
    echo "OpenLGTV_BCM-INFO: mtdblock18 in /mnt/browser"                 | tee -a /tmp/OpenLGTV_BCM.log
    mount -t squashfs /dev/mtdblock18 /mnt/browser                  2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    echo "OpenLGTV_BCM-INFO: mtdblock19 in /mnt/cache/browser"           | tee -a /tmp/OpenLGTV_BCM.log
    mount -t yaffs2 /dev/mtdblock19 /mnt/cache/browser                         >> /tmp/OpenLGTV_BCM.log 2>&1
    if [ "$?" -ne "0" ]
    then
	echo "OpenLGTV_BCM-WARNING: problem mounting /dev/mtd19 - trying to erase it and mount again..." | tee -a /tmp/OpenLGTV_BCM.log
	if [ -n "`cat /proc/mtd | grep ^mtd19: | grep brodata`" ]
	then
	    flash_eraseall /dev/mtd19                               2>&1 | tee -a /tmp/OpenLGTV_BCM.log
	    mount -t yaffs2 /dev/mtdblock19 /mnt/cache/browser      2>&1 | tee -a /tmp/OpenLGTV_BCM.log
	else
	    echo "OpenLGTV_BCM-ERROR: /dev/mtd19 is not 'brodata' partition - NOT erasing it..." | tee -a /tmp/OpenLGTV_BCM.log
	fi
    fi
    echo "OpenLGTV_BCM-INFO: /mnt/cache/browser /home"                   | tee -a /tmp/OpenLGTV_BCM.log
    mount --bind /mnt/cache/browser /home                           2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    ln -sf /mnt/browser/.mozilla /mnt/cache/browser/.mozilla        2>&1 | tee -a /tmp/OpenLGTV_BCM.log
    if [ -f "/mnt/cache/browser/browser_application.txt" ]
    then
	echo "OpenLGTV_BCM-INFO: found /mnt/cache/browser/browser_application.txt file, copying from /mnt/browser/ ..." | tee -a /tmp/OpenLGTV_BCM.log
	rm -f /mnt/cache/browser/browser_application.txt                     2>&1 | tee -a /tmp/OpenLGTV_BCM.log
	cp /mnt/browser/browser_application.txt /mnt/cache/browser/          2>&1 | tee -a /tmp/OpenLGTV_BCM.log #shouldnt be addon instead of browser? but thats from the lginit code (lginit bug?)
    fi
else
    echo "OpenLGTV_BCM-INFO: mtdblock19 in /mnt/widget.data"                      | tee -a /tmp/OpenLGTV_BCM.log
    mount -t yaffs2 /dev/mtdblock19 /mnt/widget.data                         2>&1 | tee -a /tmp/OpenLGTV_BCM.log # US fw lginit does not handle erasing ywedata if it's not mountable
fi

if [ -n "`grep appxip_addr /proc/cmdline`" ]
then
    appxip_addr=`cat /proc/cmdline | sed 's/ /\n/g' | grep appxip_addr | cut -d= -f 2`
    echo "OpenLGTV_BCM-INFO: mounting LGAPP partition as XIP CRAMFS, memory address: $appxip_addr" | tee -a /tmp/OpenLGTV_BCM.log
    #mount -t cramfs lgapp_xip /mnt/lg/lgapp -o physaddr=0x2600000
    mount -t cramfs lgapp_xip /mnt/lg/lgapp -o physaddr=$appxip_addr         2>&1 | tee -a /tmp/OpenLGTV_BCM.log
else
    echo "OpenLGTV_BCM-INFO: mtdblock9 - mounting LGAPP partition as SQUASHFS"    | tee -a /tmp/OpenLGTV_BCM.log
    mount -t squashfs /dev/mtdblock9 /mnt/lg/lgapp                           2>&1 | tee -a /tmp/OpenLGTV_BCM.log
fi

if [ -n "`grep fontxip_addr /proc/cmdline`" ]
then
    fontxip_addr=`cat /proc/cmdline | sed 's/ /\n/g' | grep fontxip_addr | cut -d= -f 2`
    echo "OpenLGTV_BCM-INFO: mounting LGFONT partition as XIP CRAMFS, memory address: $fontxip_addr" | tee -a /tmp/OpenLGTV_BCM.log
    mount -t cramfs lgfont_xip /mnt/lg/res/lgfont -o physaddr=$fontxip_addr  2>&1 | tee -a /tmp/OpenLGTV_BCM.log
else
    echo "OpenLGTV_BCM-INFO: mtdblock11 - mounting LGFONT partition as SQUASHFS"  | tee -a /tmp/OpenLGTV_BCM.log
    mount -t squashfs /dev/mtdblock11 /mnt/lg/res/lgfont                     2>&1 | tee -a /tmp/OpenLGTV_BCM.log
fi
