#!/bin/sh
# OpenLGTV BCM script rc.network
# Network setup script for LG Broadcom platform based TVs by xeros
# Source code released under GPL License

echo "OpenLGTV_BCM-INFO: starting network setup..."
network_set=0
if [ -n "`grep ip= /proc/cmdline`" ]
then
    echo "OpenLGTV_BCM-INFO: using static network setup from kernel cmdline set from CFE"
    TARGET_IP=$(cat /proc/cmdline | awk 'BEGIN { RS="[ :]"; FS="="; } /ip=/ { print $2 } END {}')
    SERVER_IP=$(cat /proc/cmdline | awk 'BEGIN { RS="[ ]"; FS=":"; } /ip=/ { print $2 } END {}')
    GATEWAY=$(cat /proc/cmdline | awk 'BEGIN { RS="[ ]"; FS=":"; } /ip=/ { print $3 } END {}')
    NETMASK=$(cat /proc/cmdline | awk 'BEGIN { RS="[ ]"; FS=":"; } /ip=/ { print $4 } END {}')
    network_set=1
else
    if [ -n "`grep -m 1 USE_ETH=YES /mnt/flash/data/nm.rc`" ]
    then
	if [ "`grep -m 1 DHCP /mnt/flash/data/nm.rc | awk -F= '{print $2}'`" -eq "0" ]
	then
	    echo "OpenLGTV_BCM-INFO: using static network setup from NetworkManager config"
	    TARGET_IP=`grep -m 1 IP_Address /mnt/flash/data/nm.rc | awk '{FS="="; print $2}'`
	    GATEWAY=`grep -m 1 IP_Gateway /mnt/flash/data/nm.rc | awk '{FS="="; print $2}'` 
	    # we wont get server ip from NetworkManager config, so lets get gateway address instead
	    SERVER_IP="$GATEWAY"
	    NETMASK=`grep -m 1 IP_Netmask /mnt/flash/data/nm.rc | awk '{FS="="; print $2}'`
	    network_set=1
	else
	    network_set=0
	fi
    else
	echo "OpenLGTV_BCM-INFO: could not determine network setup, using defaults"
	TARGET_IP=192.168.100.99 # if we cant get network config settings lets set some defaults
	SERVER_IP=192.168.100.1
	GATEWAY=192.168.100.1
	NETMASK=255.255.255.0
	network_set=1
    fi
fi

#
# Network setting
#
echo "OpenLGTV_BCM-INFO: setting loopback network connection..."
ifconfig lo 127.0.0.1 netmask 255.0.0.0
if [ "$network_set" -eq "1" ]
then
    echo "OpenLGTV_BCM-INFO: TARGET_IP: $TARGET_IP SERVER_IP: $SERVER_IP GATEWAY: $GATEWAY NETMASK: $NETMASK"
    ifconfig eth0 $TARGET_IP netmask $NETMASK up
    if [ -n "`grep -m 1 USE_ETH=NO /mnt/flash/data/nm.rc`" ]
    then
	echo "OpenLGTV_BCM-INFO: dropping default gateway as WLAN network is going to be configured later..."
    else
	route add default gw $GATEWAY
    fi
else
    echo "OpenLGTV_BCM-INFO: connecting to DHCP server for network setup (in background)"
    udhcpc eth0 &
fi
